@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@300;400;500;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap');
$bg-color: #FAF6FE;
$white-color: white;
$text-color: #262626;
$danger-color: #FF1A1A;
$success-color: #00CC00;
$warning-color:#F97325;
$primary-color: #4D4DFF;
$hover-color: #6666FF;
$primary-color: $hover-color;
$hover-color: #8080FF;
$table-border-color:#CCCCFF;
$seconday-color: #A6A6A6;
$font-mont: 'Montserrat',
sans-serif;
$font-manrope: 'Manrope',
sans-serif;
$font-pop: 'Poppins',
sans-serif;
$header-height: 5rem;
// .dark-theme {
// $white-color: #282f33;
// $bg-color: #25272d;
// $text-color: #e6e6e6;
// $table-border-color: #666666;
// }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin box-shadow {
    border: 1px solid $hover-color;
}

@mixin font($size: 1rem,
$fam,
$col) {
    font-size: $size;
    font-family: $fam;
    color: $col;
}

small {
    @include font(.9rem,
    $font-mont,
    grey);
}

button {
    padding: .25rem .85rem;
    @include font(1rem,
    $font-mont,
    #e6e6e6);
    background-color: $primary-color;
    border: none;
    border-radius: .25rem;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
}

@mixin area($h:100%,
$w:100%) {
    width: $w;
    height: $h
}

@mixin flex($dir:row,
$jCont: center,
$aItem: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jCont;
    align-items: $aItem;
}

@mixin autoCol($var) {
    display: grid;
    grid-template-columns: repeat($var, auto);
}

@mixin autoRow($var) {
    display: grid;
    grid-template-rows: repeat($var, auto);
}

@mixin resCol($var) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($var, 1fr));
}

.body {
    @include area(100vh,
    100vw);
    background-color: $bg-color;
}

::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
    background-color: $bg-color;
}

::-webkit-scrollbar-thumb {
    width: 0rem;
}

.container {
    @include area(100vh,
    99%);
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-rows: $header-height calc(100vh - $header-height);
    header {
        z-index: 9;
        margin-bottom: .75rem;
        background-color: $white-color;
        @include area;
        @include flex;
        .left {
            @include area(100%,
            18%);
            @include flex;
            justify-content: start;
            article {
                width: fit-content;
                @include flex;
                gap: .5rem;
                .menu-bar {
                    height: 100%;
                    width: fit-content;
                    padding-right: .75rem;
                    position: absolute;
                    left: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.2rem;
                    cursor: pointer;
                }
                img {
                    @include area(4rem,
                    4rem);
                    border-radius: .3rem;
                }
                h2 {
                    @include font(1.8rem,
                    $font-mont,
                    $text-color);
                    span {
                        color: $danger-color;
                    }
                }
                position: relative;
                #close-bar {
                    font-size: 2.5rem;
                    position: absolute;
                    right: .35rem;
                    font-family: $font-pop;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
        .center {
            padding-left: .5rem;
            @include area(100%,
            58%);
            display: flex;
            justify-content: start;
            article {
                margin-top: .5rem;
                font-size: 2rem;
                width: $header-height;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
            .extra {
                margin: auto 0;
                height: 100%;
                width: 9rem;
                @include autoRow(2);
                h2 {
                    @include font(1.75rem,
                    $font-pop,
                    $text-color);
                }
                input {
                    width: 9rem;
                    height: 2rem;
                    font-size: 1.1rem;
                    border-radius: .2rem;
                    outline: none;
                    border: 1px solid $hover-color;
                }
            }
        }
        .right-end {
            @include area(100%,
            24%);
            background-color: $white-color;
            @include flex(row,
            flex-end,
            center);
            gap: 2rem;
            .theme {
                @include area(100%,
                max-content);
                @include autoCol(2);
                place-items: center;
                .light,
                .dark {
                    color: $text-color;
                    font-size: 1.3rem;
                    padding: .35rem;
                    cursor: pointer;
                }
                .light {
                    background-color: $primary-color;
                    border-top-left-radius: .3rem;
                    border-bottom-left-radius: .3rem;
                    color: $white-color;
                }
                .dark {
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                    background-color: $bg-color;
                }
            }
            .name {
                @include area(3.5rem,
                max-content);
                margin: auto 0;
                @include autoRow(2);
                place-items: center;
                h4 {
                    @include font(1rem,
                    $font-pop,
                    $text-color);
                    @include area;
                    display: flex;
                    align-items: flex-start;
                    font-weight: 400;
                    b {
                        margin-left: .5rem;
                        font-weight: 700;
                    }
                }
                small {
                    // margin-top: ;
                    display: flex;
                    align-items: flex-start;
                }
            }
            img {
                @include area(3.5rem,
                3.5rem);
                border-radius: 100%;
                padding: .2rem;
                background-color: $hover-color;
            }
        }
    }
    main {
        margin-top: .5rem;
        @include area;
        @include flex;
        .main-cont {
            @include area;
            @include flex;
            .aside {
                z-index: 9;
                background-color: $bg-color;
                @include area(100%,
                18%);
                @include autoRow(2);
                gap: 1rem;
                .aside-main {
                    @include area(calc(100vh - $header-height),
                    100%);
                    // background-color: cyan;
                    .collection {
                        @include area(100%,
                        100%);
                        li {
                            list-style: none;
                            @include area(3rem,
                            100%);
                            margin-bottom: .2rem;
                            @include flex;
                            justify-content: start;
                            a {
                                text-decoration: none;
                                width: fit-content;
                                @include flex;
                                .icon {
                                    width: 2.5rem;
                                    .aside-icon {
                                        font-size: 1.5rem;
                                        color: #4D4DFF;
                                    }
                                }
                                .text {
                                    @include font(1.1rem,
                                    $font-manrope,
                                    $text-color);
                                    margin-right: 1.2rem;
                                    h4 {
                                        font-weight: 500;
                                    }
                                }
                                p {
                                    background-color: $danger-color;
                                    padding: .25rem .75rem;
                                    border-radius: .5rem;
                                    @include font(.9rem,
                                    $font-mont,
                                    $white-color);
                                }
                                // &:last-child {
                                //     background-color: orange;
                                // }
                            }
                            transition: all 300ms ease;
                            border-radius: .3rem;
                            &:hover {
                                padding-left: 1rem;
                                background-color: $hover-color;
                                .icon {
                                    .aside-icon {
                                        color: $white-color;
                                    }
                                }
                                .text {
                                    color: $white-color;
                                }
                            }
                        }
                        .back {
                            padding-left: .5rem;
                            a {
                                .icon {
                                    width: 2.5rem;
                                    font-size: 1.5rem;
                                    color: $warning-color;
                                }
                            }
                            &:hover {
                                a {
                                    .icon {
                                        color: $warning-color;
                                    }
                                }
                            }
                        }
                        .log-out {
                            padding-left: .5rem;
                            background-color: $bg-color;
                            border: 1px solid $hover-color;
                            a {
                                .icon {
                                    width: 2.5rem;
                                    font-size: 1.5rem;
                                    color: $danger-color;
                                }
                                .text {
                                    color: $text-color;
                                }
                            }
                            &:hover {
                                padding: .5rem;
                                border: none;
                                background-color: $warning-color;
                                a {
                                    .icon {
                                        color: $white-color;
                                    }
                                }
                                .text {
                                    color: $white-color;
                                }
                            }
                        }
                    }
                }
            }
            .middle {
                 ::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
                padding-left: .5rem;
                @include area(100%,
                58%);
                overflow-y: auto;
                .main {
                    @include area(100%,
                    100%);
                    @include flex;
                    .cont {
                        @include area;
                        @include autoRow(3);
                        gap: .5rem;
                        .title {
                            @include area(5rem,
                            100%);
                            @include flex;
                            justify-content: start;
                            .extra {
                                margin: auto 0;
                                height: 100%;
                                width: 9rem;
                                @include autoRow(2);
                                h2 {
                                    @include font(1.75rem,
                                    $font-pop,
                                    $text-color);
                                }
                                input {
                                    width: 9rem;
                                    height: 2rem;
                                    font-size: 1.1rem;
                                    border-radius: .2rem;
                                    outline: none;
                                    border: 1px solid $hover-color;
                                }
                            }
                        }
                        .card-cont {
                            @include area(auto,
                            100%);
                            @include resCol(15rem);
                            gap: .75rem;
                            .card {
                                @include area(15rem,
                                100%);
                                background-color: $white-color;
                                border: 1px solid $primary-color;
                                height: 15rem;
                                border-radius: 1rem;
                                padding: .75rem;
                                @include flex(column,
                                center,
                                center);
                                gap: .5rem;
                                .top {
                                    @include area(90%,
                                    100%);
                                    @include flex(row,
                                    center,
                                    start);
                                    .left {
                                        height: 100%;
                                        width: 55%;
                                        @include autoRow(2);
                                        gap: .75rem;
                                        article {
                                            background-color: $primary-color;
                                            @include area(fit-content,
                                            fit-content);
                                            padding: .55rem .75rem;
                                            border-radius: 10rem;
                                            font-size: 2rem;
                                            color: white;
                                            border: none;
                                        }
                                        #expenses {
                                            background-color: $danger-color;
                                        }
                                        #income {
                                            background-color: $success-color;
                                            font-size: 1.85rem;
                                            padding: .65rem .65rem;
                                        }
                                        .info {
                                            h3 {
                                                @include font(1.4rem,
                                                $font-mont,
                                                $text-color);
                                            }
                                            h2 {
                                                @include font(1.65rem,
                                                $font-mont,
                                                $text-color);
                                            }
                                        }
                                    }
                                    .right {
                                        width: 45%;
                                        display: grid;
                                        place-items: center;
                                        svg {
                                            @include area(85%,
                                            85%);
                                            display: grid;
                                            place-items: center;
                                            circle {
                                                fill: none;
                                                stroke: $hover-color;
                                                stroke-width: 13;
                                                stroke-linecap: round;
                                                // transform: translate(15%, 22.5%);
                                            }
                                        }
                                        position: relative;
                                        .number {
                                            position: absolute;
                                            right: 50%;
                                            @include font(1rem,
                                            $font-mont,
                                            $text-color);
                                            display: none;
                                        }
                                    }
                                    .sales {
                                        svg {
                                            circle {
                                                stroke-dasharray: 200;
                                                stroke-dashoffset: -50;
                                            }
                                        }
                                    }
                                    .expenses {
                                        svg {
                                            circle {
                                                stroke: $danger-color;
                                                stroke-dasharray: 200;
                                                stroke-dashoffset: -140;
                                            }
                                        }
                                    }
                                    .income {
                                        svg {
                                            circle {
                                                stroke: $success-color;
                                                stroke-dasharray: 200;
                                                stroke-dashoffset: -70;
                                            }
                                        }
                                    }
                                }
                                .foot {
                                    @include area(10%,
                                    100%);
                                }
                            }
                        }
                        .orders {
                            @include area(calc(100vh - $header-height - 15rem - 1rem),
                            100%);
                            // margin: 0 auto;
                            @include flex(column,
                            center,
                            start);
                            gap: .5rem;
                            .nav {
                                @include area(2.5rem,
                                100%);
                                margin-left: 0;
                                h2 {
                                    @include font(1.75rem,
                                    $font-pop,
                                    $text-color);
                                }
                            }
                            .invoice {
                                margin-bottom: .5rem;
                                @include area(100%,
                                100%);
                                overflow-y: auto;
                                display: flex;
                                justify-content: end;
                                table {
                                    background-color: $table-border-color;
                                    @include area(auto,
                                    100%);
                                    border-collapse: separate;
                                    thead {
                                        @include area;
                                        height: 2.75rem;
                                        tr {
                                            background-color: $bg-color;
                                            th {
                                                // border-right: 2px solid red;
                                                @include font(1.15rem,
                                                $font-pop,
                                                $text-color);
                                            }
                                        }
                                    }
                                    tbody {
                                        // background-color: pink;
                                        tr {
                                            height: 2.35rem;
                                            background-color: $bg-color;
                                            td {
                                                text-align: center;
                                                @include font(1rem,
                                                $font-mont,
                                                $text-color);
                                                button {
                                                    margin: 0 auto;
                                                    padding: .25rem .65rem;
                                                    position: relative;
                                                    @include autoCol(2);
                                                    gap: .5rem;
                                                    ul {
                                                        border: 1px solid $hover-color;
                                                        border-radius: .2rem;
                                                        z-index: 9;
                                                        width: 11rem;
                                                        position: absolute;
                                                        top: 1.75rem;
                                                        right: 0rem;
                                                        background-color: $white-color;
                                                        z-index: 9;
                                                        padding: 0;
                                                        li {
                                                            @include area(2.35rem,
                                                            100%);
                                                            padding: .25rem;
                                                            // padding-right: 2rem;
                                                            display: flex;
                                                            justify-content: flex-start;
                                                            align-items: center;
                                                            color: $text-color;
                                                            transition: all 300ms ease;
                                                            margin-right: -.25rem;
                                                            &:hover {
                                                                background-color: $hover-color;
                                                                color: $white-color;
                                                            }
                                                            &:first-child {
                                                                border-top-left-radius: .2rem;
                                                                border-top-right-radius: .2rem;
                                                                &:hover {
                                                                    background-color: $warning-color;
                                                                }
                                                            }
                                                            &:last-child {
                                                                border-bottom-left-radius: .2rem;
                                                                border-bottom-right-radius: .2rem;
                                                                &:hover {
                                                                    background-color: $danger-color;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right-area {
                @include area(100%,
                24%);
                display: grid;
                grid-template-rows: auto;
                padding-left: .5rem;
                gap: .5rem;
                .update {
                    @include area(15rem,
                    100%);
                     ::-webkit-scrollbar {
                        width: 0;
                    }
                    .cont {
                        border: 1px solid $hover-color;
                        background-color: $white-color;
                        @include area;
                        border-radius: 1rem;
                        padding: .45rem .35rem;
                        overflow-y: auto;
                        display: grid;
                        gap: .25rem;
                        .customer {
                            @include area;
                            @include flex(row,
                            flex-start,
                            center);
                            gap: .5rem;
                            cursor: pointer;
                            img {
                                @include area(3.4rem,
                                3.4rem);
                                padding: .2rem;
                                background-color: $hover-color;
                                border-radius: 100%;
                            }
                            .right {
                                @include area(100%,
                                calc(100% - 3.4rem - .5rem));
                                @include autoRow(2);
                                h4 {
                                    @include font(.9rem,
                                    $font-mont,
                                    $text-color);
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .analytics {
                    @include area(calc(100vh - $header-height - 15rem),
                    100%);
                    display: grid;
                    grid-template-rows: 2.5rem auto $header-height;
                    gap: .5rem;
                    .nav {
                        background-color: $bg-color;
                        @include area;
                        display: flex;
                        justify-content: start;
                        h2 {
                            @include font(1.75,
                            $font-manrope,
                            $text-color);
                        }
                    }
                    .main {
                        @include area;
                        .cont {
                            @include area;
                            display: grid;
                            gap: .75rem;
                            .card {
                                border: 1px solid $primary-color;
                                background-color: $white-color;
                                @include area(100%,
                                100%);
                                // margin: auto 0;
                                padding: .25rem .35rem;
                                border-radius: .5rem;
                                @include autoCol(4);
                                gap: .5rem;
                                place-items: center;
                                .icon {
                                    @include area(fit-content,
                                    fit-content);
                                    font-size: 1.75rem;
                                    padding: .75rem;
                                    border-radius: 100%;
                                    color: $white-color;
                                }
                                .title {
                                    margin: auto 0;
                                    @include area(65%,
                                    100%);
                                    @include autoRow(2);
                                    place-items: start;
                                    h3 {
                                        @include font(1.25rem,
                                        $font-mont,
                                        $text-color);
                                    }
                                }
                                .percent,
                                .id {
                                    @include font(1rem,
                                    $font-mont,
                                    $text-color);
                                }
                                .id {
                                    font-weight: 500
                                }
                            }
                            .online {
                                .icon {
                                    background-color: $hover-color;
                                    font-size: 1.65rem;
                                    padding: .75rem .75rem;
                                }
                            }
                            .offline {
                                .icon {
                                    padding: .65rem .85rem;
                                    background-color: $warning-color;
                                }
                            }
                            .new-customer {
                                .icon {
                                    padding: .65rem .85rem;
                                    background-color: $success-color;
                                }
                            }
                        }
                    }
                    .add-product {
                        @include area;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        button {
                            width: 100%;
                            height: 70%;
                            margin-top: .2rem;
                            font-size: 1.3rem;
                            transition: all 300ms ease;
                            &:hover {
                                border: 1px solid $primary-color;
                                background-color: $bg-color;
                                color: $hover-color;
                            }
                        }
                    }
                }
            }
        }
    }
}